.about-sec{
  padding: rem(95) 0;
}

.about-container{
  display: flex;
  height: 710px;


  .top-descr {
    font-size: rem(40);
    font-weight: 400;
    color: $primary-color;
    line-height: rem(100);
    margin: 0;
    .uppercase{
      text-transform: uppercase;
    }
  }

  .about-title {
    font-size: rem(60);
    font-weight: 900;
    color: $success-color;
    line-height: rem(78);
    margin-bottom: rem(30);
  }

  .about-bottom-descr{
    font-size: rem(20);
    font-weight: 400;
    line-height: rem(50);
    color: $danger-color ;
  }

  .about-img-container,
  .about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    position: relative;
  }

  img.about-img {
    position: absolute;
    width: rem(860);
    top: rem(110)
  }
}

