.about-sec {
  padding: rem(95) 0;
}

.about-container {
  display: flex;
  text-align: left;

  .about-bottom-descr {
    line-height: rem(50);
    margin-top: 2rem;
  }
}




.about-img-container,
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  position: relative;
}

img.about-img {
  position: absolute;
  width: rem(860);
  top: rem(110)
}




.small_triangle1,
.small_triangle2 {
  position: absolute;
  bottom: rem(-85);
  width: rem(154);
  left: rem(-37);
}