.clietns {
  text-align: center;
  padding: rem(25) 0;
  background-color: #f9f9f9;

  .glide__track {
    margin: 1rem 0px;
  }

  .glide {
    margin: rem(25) 0;
  }


}

.clietns-img {
  max-width: 12rem;
}

button.glide__bullet {
  width: 8px;
  height: 8px;
  padding: 0;
  border: none;
  border-radius: 50%;
  margin: 0 0.5rem;
}

button.glide__bullet.glide__bullet--active {
  background-color: #ef5181;
  width: 13px;
  border-radius: 4px;
}