.portfolio {
  text-align: center;
  background-image: url('../img/qq.png');
  background-position: -354% -126px;
  background-repeat: no-repeat;


  .btn-more {
    box-shadow: 0 3px 6px #000
  }
}


.column {
  display: none;
  height: 500px;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
  margin: rem(18);


  span {
    text-decoration: none;
    position: relative;
    padding: .8rem .8rem .9rem;
    cursor: pointer;
    color: $danger-color;
    cursor: pointer;

    &.active:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 5px;
      background-color: $primary-color;
      bottom: 0;
      left: 0;
    }

    &.active:last-child:before {
      background-color: #fff;
    }

    &.active:last-child {
      color: #fff;
    }

    &.active {
      font-weight: 700;
      color: $primary-color;
    }

  }
}

.grid-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.show {
  display: flex;
}

.column.show.pag {
  animation: .3s forwards cubic-bezier(0.18, 0.89, 0.04, 0.95) example;
  display: flex;

}

@keyframes example {
  from {
    display: flex;
    transform: scale(0);
  }

  to {
    display: flex;
    transform: scale(1);
  }
}

.column.show {
  display: none;
}

.column>img {
  width: 100%;
  object-fit: cover;
}

.pag {
  margin: 35px;
  border-radius: 15px;
  overflow: hidden;
  flex: 1;
  min-width: calc(33.33% - 70px)
}

.paginator {
  display: flex;
  height: 20px;
  justify-content: center;

  span {
    width: 8px;
    height: 8px;
    background-color: #DBDBDB;
    border-radius: 50%;
    margin: 0.5rem;

    &.paginator_active {
      background-color: $primary-color;
      width: 13px;
      border-radius: 4px;
    }
  }
}